<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">

<polymer-element name="barista-clue-manager" noscript>
      <template>
          <link rel="stylesheet" href="//cmap.github.io/barista/barista.main.min.css">
          <div class="row">
          <div id="top" class="col-xs-offset-1 col-xs-10">
              <paper-ripple fit style="cursor:pointer"></paper-ripple>
              <core-input class="col-xs-2" placeholder="BOX NAME" syle="top:8px"></core-input>
              <paper-button id="start" class="pull-right" label="start"></paper-button>
              <paper-shadow z="1"></paper-shadow>
          </div>
      </div>




      </template>
</polymer-element>
